/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background: #272926 url('../images/background.jpg') center top repeat-y;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ======== Page Wrapper ========= */

.wrapper {
	margin: 0 auto 0 auto;
	width: 960px;
	height: auto;
}

/* ======== Page Header ========= */

header {
	width: 100%;
	height: 168px;
	background: #9BB8AB;
	-moz-box-shadow: inset 0 5px 10px rgba(0,0,0,0.3), 0 5px 4px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 5px 10px rgba(0,0,0,0.3), 0 5px 4px rgba(0,0,0,0.5);
	-ms-box-shadow: inset 0 5px 10px rgba(0,0,0,0.3);
	box-shadow: inset 0 5px 10px rgba(0,0,0,0.3), 0 4px 7px rgba(0,0,0,0.5);
	z-index: 5;
}

#header_upper {
	margin: 0 auto 0 auto;
	width: 960px;
	height: 130px;
}

#logo {
	float: left;
	margin-top: 28px;
	width: 197px;
	height: 85px;
	text-indent: -9999px;
	background: url('../images/logo.png') no-repeat;
}

#header_right {
	float: right;
	margin-top: 28px;
	width: 760px;
	height: 85px;
}

#header_contact {
	width: 100%;
	height: 42px;
}

#header_contact span {
	display: block;
	width: 100%;
	height: auto;
	color: #fff;
	text-align: right;
}

#header_lower {
	width: 100%;
	height: 38px;
	background: url('../images/woodbar.jpg') repeat-x;
}

#tagline {
	width: 200px;
	line-height: 38px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

/* ======== Navigation ========= */

nav {
	margin-top: 1px;
	width: 100%;
	height: 42px;
}

#nav_left {
	float: right;
	width: 9px;
	height: 42px;
	background: url('../images/nav_background_left.png') no-repeat;
}

nav ul {
	float: right;
	margin-top: 2px;
	height: 36px;
	background: #F2F2E1;
	border: 1px solid #fff;
	border-left: none;
	list-style: none;
	-moz-box-shadow: 0 1px 0 #F2F2E1, 0 -1px 0 #F2F2E1, 1px 0 0 #F2F2E1;
	-webkit-box-shadow: 0 1px 0 #F2F2E1, 0 -1px 0 #F2F2E1, 1px 0 0 #F2F2E1;
	-ms-box-shadow: 0 1px 0 #F2F2E1, 0 -1px 0 #F2F2E1, 1px 0 0 #F2F2E1;
	box-shadow: 0 1px 0 #F2F2E1, 0 -1px 0 #F2F2E1, 1px 0 0 #F2F2E1;
}

nav ul li {
	display: inline;
	padding: 0 10px 0 10px;
	font-size: 24px;
	height: 38px;
	font-weight: bold;
}

nav ul li a, nav ul li a:visited {
	width: auto;
	height: 38px;
	line-height: 38px;
	color: #9BB8AB;
	text-shadow: 1px 1px 0 #E8E7CA;
	text-decoration: none;
}

nav ul li a:hover { color: #5E8573;}

/* ======== Page Content ========= */

#page_content {
	width: 100%;
	height: 500px;
}

/* ======== Sidebar ========= */

aside {
	float: left;
	width: 200px;
	height: 100%;
}

/* ======== Flavors Sidebar ========= */

#flavors {
	margin: 0 auto 0 auto;
	width: 165px;
	height: auto;
}

#flavors_top {
	height: 24px;
	background: url('../images/flavors_top.png') no-repeat;
}

#flavors_content {
	height: auto;
	background: url('../images/flavors_bg.png') repeat-y;
}

#flavors_content h1 {
	margin-bottom: 10px;
	width: 100%;
	color: #494A4E;
	font-size: 18px;
	text-align: center;
}

#flavors_content span {
	display: block;
	width: 100%;
	color: #494A4E;
	font-size: 18px;
	line-height: 0;
	letter-spacing: 3px;
	text-align: center;
}

#flavors_content p {
	margin-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	color: #D67D27;
	font-size: 18px;
	text-align: center;
}

#flavors_bottom {
	height: 28px;
	background: url('../images/flavors_bottom.png') no-repeat;
}

/* ======== Page Content ========= */

article {
	float: right;
	width: 735px;
	height: 100%;
}

