/*-------------------------------------------------------
-- Fonts
-------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Bitter:700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

/*-------------------------------------------------------
-- General
-------------------------------------------------------*/
body {
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: #36322F;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #FFF2D4;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 24px;
	font-weight: 400;
}

.container-fluid {
	padding: 35px;
}

/*-------------------------------------------------------
-- Layout
-------------------------------------------------------*/

#bg-slideshow {
	z-index: -2;
	background-color: #000000;
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	overflow: hidden;
	opacity: 1;
}

#bg-slideshow img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}

.wrapper {
	display: block;
	width: 100%;
}
.logo {
	background: none;
	border: none;
	box-shadow: none;
	text-align: center;
	-webkit-box-shadow: none;
}
.logo img {
	background: none;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	width: 85%;
}
.wrapper:not(:first-child) {
	margin-top: 11px;
}

.wrapper ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.wrapper ul:not(.category) {
	padding: 0;
}
.wrapper ul li {
	line-height: 130%;
}

.category-title h2, .heading h3  {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 700;
	color: #FFF54C;
	font-size: 32px;
	letter-spacing: 1px;
	line-height: 1em;
	margin-bottom: 0;
	margin-top: 9px;
	text-transform: uppercase;
	line-height: 50px;
}
.heading h3 {
	font-size: 21px;
}
.category-title h2 img {
	bottom: 5px;
	margin-left: 13px;
	position: absolute;
}
.category-title {
	text-align: center;
}
.category-title img {
	max-width: 100%;
}
.category-title p, hr {
	display: none;
}
.title  {
	color: #F58020;
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 5px;
	text-transform: uppercase;
}
.currency {
	display: none;
}
.heading, .price {
	text-align: right;
	white-space: nowrap;
}

/*-------------------------------------------------------
-- Overrides
-------------------------------------------------------*/
.red, .push, .push li, .push li h2, .push li h3 {
	color: #7E1416;
}
small {
	font-size: 75%;
}
.row-fluid {
	column-gap: 11px;
	-moz-column-gap: 11px;
	-webkit-column-gap: 11px;
}
.equal ul {
	column-gap: 11px;
	-moz-column-gap: 11px;
	-webkit-column-gap: 11px;
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	min-height: 750px;
}
.equal ul li p {
	letter-spacing: 3px;
}
h3 {
	background: transparent url('/img/european-street/bg-fluer-left.png') no-repeat;
	color: #FFEF6F;
	font-family: 'Bitter', serif;
	font-size: 31px;
	font-weight: bold;
	margin: 0;
	min-height: 46px;
	padding: 0 40px;
	text-transform: uppercase;
	vertical-align: top;
}
h3:after {
	display:inline-block;
	content: "";
	width: 44px;
	height: 45px;
	position: absolute;
	background: transparent url('/img/european-street/bg-fluer-right.png') no-repeat 13px 0px;
}
.heading dt, .heading dd {
	color: #FFEF6F;
	font-size: 28px;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
}
.table {
	border-bottom: #231F20 1px solid;
}
dl.row {
	border-top: #231F20 1px solid;
	margin: 0;
}
dt, dd {
	border-right: #231F20 1px solid;
	white-space: nowrap;
}
ul.emphasis {
	background: transparent url('/img/european-street/special.png') no-repeat 0 0;
	padding: 20px 42px 10px;
	background-size: 100% 100%;
	margin: 0 10px;
}
ul.emphasis h3 {
	padding: 0;
}
.feature {
	font-family: 'Bitter', serif;
	font-size: 32px;
	font-weight: bold;
	color:#FFEF6F;
	margin-top: 141px;
	margin-bottom: 18px;
	padding-top:35px;
	text-align:center;
	width: 486px;
	height: 113px;
	background: transparent url(/img/european-street/feature.png) no-repeat;
}
.feature-item {
	font-size: 28px;
	margin-left: -13px;
}
@media (min-width: 1080px) {
	body {
		padding-top: 0;
	}
	.row-fluid {
		column-gap: 20px;
		-moz-column-gap: 20px;
		-webkit-column-gap: 20px;
		min-height: 1000px;
	}
	.root {
		padding: 10px 0 0;
	}
	.root, .wrapper > .row {
		display: block;
		column-break-inside: avoid;
		-webkit-column-break-inside: avoid;
	}
	.title, .processing > .row {
		column-break-inside: avoid;
		-webkit-column-break-inside: avoid;
	}
	.navbar {
		display: none;
	}
}
@media (max-width: 1079px) {
	.container-fluid, .container-fluid .row-fluid {
		padding: 0 5px 0 0 !important;
	}
	.row-fluid {
		height: auto !important;
		width: auto !important;
	}
}
@media screen and (max-width: 480px) {
	body, .description {
		font-size: 13px;
		font-weight: normal;
	}
	.category-title h2, .heading h3, h3, .heading dt, .heading dd  {
		font-size: 14px;
		line-height: 20px;
	}
	.title, .amount, .green, .currency {
		font-size: 20px;
	}
	.equal ul {
		min-height: 450px;
	}
	.feature {
	font-size: 20px;
	margin-top: 80px;
	margin-bottom: 50px;
	padding-top: 27px;
	height: 80px;
	width:100%;
	background-size: contain;
	}
}
.nav li.active a {
	font-family: 'Bitter', serif;
}
@media (min-width:1079px){.container-fluid {padding: 0;}
.container-fluid .row-fluid{height:1920px!important;width:1080px!important;padding-top:10px !important;}}
