/*-------------------------------------------------------
-- Fonts
-------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);
@import url(http://fonts.googleapis.com/css?family=Port+Lligat+Slab);

/*-------------------------------------------------------
-- General
-------------------------------------------------------*/
body {
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: black;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #FFFFFF;
	font-family: 'Port Lligat Slab', sans-serif;
	font-size: 30px;
	font-weight: 400;
}

.container-fluid {
	padding: 15px;
}

/*-------------------------------------------------------
-- Layout
-------------------------------------------------------*/

#bg-slideshow {
	z-index: -2;
	background-color: #333333;
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	overflow: hidden;
	opacity: 1;
}

#bg-slideshow img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}

.wrapper {
	display: block;
	width: 100%;
	padding-bottom: 10px;
}
.logo {
	background: none;
	border: none;
	box-shadow: none;
	text-align: center;
	-webkit-box-shadow: none;
}
.logo img {
	background: none;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	width: 85%;
}
.wrapper:not(:first-child) {
	margin-top: 11px;
}

.wrapper ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.wrapper ul:not(.category) {
	padding: 7px 0 0 0;
}
.wrapper ul li {
	line-height: 130%;
}

.category-title h2, .heading h3, h2.yellow, .title, .feature, .amount, .currency   {
	font-family: 'Love Ya Like A Sister', sans-serif;
	font-weight: 400;
	color: #FBF49C;
	font-size: 36px;
	letter-spacing: 1px;
	line-height: 1em;
	margin-bottom: 0;
	margin-top: 9px;
	text-transform: uppercase;
	line-height: 50px;
}
.feature {
	
	text-align: center;
}
.title, .amount, .currency  {
	color: #FBF49C;
}
.title {
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.heading h3 {
	font-size: 21px;
}
.category-title h2 img {
	bottom: 5px;
	margin-left: 13px;
	position: absolute;
}
hr {
	margin: 18px 15px 15px 15px;
	height: 25px;
	border: none;
	background: transparent url('/img/cool-moose/bg-double-chalk-line.png') repeat-x;
}
.green, .feature {
	color: #B3D895;
}
.heading, .price {
	text-align: right;
	white-space: nowrap;
}
.description {
	color: #FFFFFF !important;
}
.center {
	margin: 0 auto;
	display: block;
	width: 100%;
	height: 100%;
	max-width: 952px;
	max-height: 161px;
}
/*-------------------------------------------------------
-- Event
-------------------------------------------------------*/
h2.yellow {
	font-size: 62px;
	margin-top: 0;
}
.event .image {
	max-height: 280px;
	min-height: 100px;
}
.event img {
	max-height: 100%;
	max-width: 100%;
}
.event {
	font-family: Georgia, serif;
	font-size: 41px;
}
.event .row {
	background: url('/img/bg-border-white.gif') repeat-x;
	margin-top: 25px;
	padding-top: 25px !important;
}
.wrapper .event ul:not(.category) {
	padding-top: 25px;
}

/*-------------------------------------------------------
-- Overrides
-------------------------------------------------------*/
.red, .push, .push li, .push li h2, .push li h3 {
	color: #7E1416;
}
small {
	font-size: 75%;
}
.row-fluid {
	column-gap: 11px;
	-moz-column-gap: 11px;
	-webkit-column-gap: 11px;
}
.hr {
	display:none;
}

@media (min-width: 1920px) {
	body {
		padding-top: 10px;
	}
	.row-fluid {
		column-count: 2;
		-webkit-column-count: 2;
		column-gap: 20px;
		-webkit-column-gap: 20px;
		column-gap: ;
		min-height: 600px;
	}
	.root, .wrapper > .row {
		display: block;
		column-break-inside: avoid;
		-webkit-column-break-inside: avoid;
	}
	.title, .processing > .row {
		column-break-inside: avoid;
		-webkit-column-break-inside: avoid;
	}
	.navbar {
		display: none;
	}
}
@media (max-width: 1919px) {
	.container-fluid, .container-fluid .row-fluid {
		padding: 10px !important;
	}
	.row-fluid {
		height: auto !important;
		width: auto !important;
	}
}
@media screen and (min-width: 1270px) and (max-width: 1919px) {
	.row-fluid {
		column-count: 2;
		-webkit-column-count: 2;
	}
	.root, .wrapper > .row {
		display: block;
		column-break-inside: avoid;
		-webkit-column-break-inside: avoid;
	}
}
@media screen and (max-width: 480px) {
	body, .description {
		font-size: 16px;
		font-weight: normal;
	}
	.category-title h2, .heading h3  {
		font-size: 12px;
		line-height: 20px;
	}
	.currency {
		display: none;
	}
}