/*-------------------------------------------------------
-- Fonts
-------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Maiden+Orange);
@import url(http://fonts.googleapis.com/css?family=Asap);

/*-------------------------------------------------------
-- General
-------------------------------------------------------*/
body {
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: black;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #eaeae3;
	font-family: 'Maiden Orange', cursive;
	font-size: 39px;
	font-weight: 400;
}

.container-fluid {
	background-image: url('/img/bg-fb.png');
	background-position: 0 -23px;
	background-repeat: no-repeat;	
	padding: 15px;
}

/*-------------------------------------------------------
-- Layout
-------------------------------------------------------*/

#bg-slideshow {
	z-index: -2;
	background-color: #000000;
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	overflow: hidden;
	opacity: 1;
}

#bg-slideshow img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}

.wrapper {
	background: rgba(110,39,39,0.75);
	display: block;
	width: 100%;
	padding-bottom: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 3px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 0 rgba(0,0,0,0.1);
	-o-box-shadow: 0 3px 0 rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 0 rgba(0,0,0,0.1);
  box-shadow: 0 3px 0 rgba(0,0,0,0.1);
}
.logo {
	background: none;
	border: none;
	box-shadow: none;
	text-align: center;
	-webkit-box-shadow: none;
}
.logo img {
	background: none;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	width: 85%;
}
.wrapper:not(:first-child) {
	margin-top: 11px;
}

.wrapper ul, .rows-4 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.wrapper ul:not(.category) {
	padding: 6px 0 0 0;
}
.wrapper ul.desc, .rows-4 ul.desc {
	margin-top: 0;
	padding-top: 0;
}
.wrapper ul li {
	line-height: 130%;
}
h2, h3, .title  {
	font-family: 'Maiden Orange', cursive;
	font-weight: 400;
}

.category-title h2, .heading h3  {
	color: #FFF54C;
	font-size: 32px;
	letter-spacing: 1px;
	line-height: 1em;
	margin-bottom: 0;
	margin-top: 9px;
	text-transform: uppercase;
	line-height: 50px;
}
.heading h3 {
	font-size: 21px;
}
.category-title h2 img {
	bottom: 5px;
	margin-left: 13px;
	position: absolute;
}
hr {
	margin: 0 15px 5px 15px;
	height: 2px;
	border: none;
	background: #FFFFFF;
}
.amount, .green, .currency {
	color: #B1D9A3;
}
.currency {
	display: none;
}
.heading, .price {
	text-align: right;
	white-space: nowrap;
}
.description {
	color: #FFFFFF !important;
	font-family: 'Asap', sans-serif;
	font-weight: 400;
	font-size: 21px;
}
.rows-4 .description {
	max-height: 38px;
	overflow: hidden;
}
.yellow .title {
	color: #FFD93B;
	font-size: 83px;
	line-height: 110%;
	text-transform: uppercase;
	padding-top: 26px;
}
.yellow .description {
	color: #FFFFFF !important;
}
.violator {
	color: #FFD93B;
	font-size: 53px;
	padding: 16px 0 0 15px;
}
.key {
	color: #FFD93B;
	font-size: 53px;
	padding: 0 0 0 15px;
}
.rows-4 .root {
	background: rgba(110,39,39,0.75);
	-moz-border-top-left-radius: 41px;
	-moz-border-bottom-left-radius: 41px;
	border-top-left-radius: 41px;
	border-bottom-left-radius: 41px;
	margin-bottom: 10px;
}
.rows-4 ul {
height: 84px;
}
.rows-4 .root img {
	max-width: 100%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.rows-4 .root .title {
line-height: 100%;
margin-top: 4px;
}
.rows-4 .root .description {
	font-size: 14px;
}
.rows-4 .root .legend, .rows-4 .root .col-xs-9 {
	margin-left: 0;
	padding-left: 0;
}
.rows-4 .root .col-xs-3 {
	width: 23%;
}
.rows-4 .root .col-xs-9 {
	width: 77%;
}

/*-------------------------------------------------------
-- Overrides
-------------------------------------------------------*/
.red, .push, .push li, .push li h2, .push li h3 {
	color: #7E1416;
}
small {
	font-size: 75%;
}
strong {
	font-size: 35px;
}
.row-fluid {
	column-gap: 11px;
	-moz-column-gap: 11px;
	-webkit-column-gap: 11px;
}

@media (min-width: 1920px) {
	body {
		padding-top: 10px;
		padding-bottom: 0;
	}
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		padding-right: 10px;
		padding-left: 10px;
	}
	.row-fluid {
		column-count: 6;
		-webkit-column-count: 6;
		column-gap: 15px;
		-webkit-column-gap: 15px;
		column-gap: ;
		min-height: 1000px;
	}
	.rows-2 {
		column-count: 2;
		-webkit-column-count: 2;
		column-gap: 15px;
		-webkit-column-gap: 15px;
		min-height: 1000px;
	}
	.rows-3 {
		column-count: 3;
		-webkit-column-count: 3;
		column-gap: 15px;
		-webkit-column-gap: 15px;
		min-height: 1000px;
	}
	.rows-4 {
		column-count: 4;
		-webkit-column-count: 4;
		column-gap: 15px;
		-webkit-column-gap: 15px;
		height: 562px;
	}
	.rows-5 {
		column-count: 5;
		-webkit-column-count: 5;
		column-gap: 15px;
		-webkit-column-gap: 15px;
		height: 330px;
	}
	.rows-6 {
		column-count: 5;
		-webkit-column-count: 5;
		column-gap: 15px;
		-webkit-column-gap: 15px;
		min-height: 1000px;
	}
	.rows-7 {
		column-count: 7;
		-webkit-column-count: 7;
		column-gap: 15px;
		-webkit-column-gap: 15px;
		min-height: 1000px;
	}
	.rows-8 {
		column-count: 8;
		-webkit-column-count: 8;
		column-gap: 15px;
		-webkit-column-gap: 15px;
		min-height: 1000px;
	}
	.rows-9 {
		column-count: 9;
		-webkit-column-count: 9;
		column-gap: 15px;
		-webkit-column-gap: 15px;
		min-height: 1000px;
	}
	.rows-10 {
		column-count: 10;
		-webkit-column-count: 10;
		column-gap: 15px;
		-webkit-column-gap: 15px;
		min-height: 1000px;
	}
	.root, .wrapper > .row {
		display: block;
		column-break-inside: avoid;
		-webkit-column-break-inside: avoid;
	}
	.title, .processing > .row {
		column-break-inside: avoid;
		-webkit-column-break-inside: avoid;
	}
	.navbar {
		display: none;
	}
}
@media (max-width: 1919px) {
	.container-fluid, .container-fluid .row-fluid {
		padding: 10px !important;
	}
	.row-fluid {
		height: auto !important;
		width: auto !important;
	}
	.container-fluid {
		background-image: none;
		height: auto !important;
		width: auto !important;
	}
	.rows-4 ul {
	height: auto;
	}
}
@media screen and (min-width: 1270px) and (max-width: 1919px) {
	.row-fluid, .rows-2, .rows-3, .rows-4, .rows-5, .rows-6, .rows-8, .rows-9, .rows-10 {
		column-count: 2;
		-webkit-column-count: 2;
	}
	.root, .wrapper > .row {
		display: block;
		column-break-inside: avoid;
		-webkit-column-break-inside: avoid;
	}
}
@media screen and (max-width: 480px) {
	body, .description {
		font-size: 30px;
		font-weight: normal;
	}
	.category-title h2, .heading h3  {
		font-size: 18px;
		line-height: 20px;
	}
	#d5f1c06fb6ae515cc4132d2d360844a2 h2 img {
		height: 80%;
	}
}