/*-------------------------------------------------------
-- Fonts
-------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/*-------------------------------------------------------
-- General
-------------------------------------------------------*/
body {
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: black;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #8F0000;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 400;
}

.container-fluid {
	padding: 15px;
}

/*-------------------------------------------------------
-- Layout
-------------------------------------------------------*/

#bg-slideshow {
	z-index: -2;
	background-color: #000000;
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	overflow: hidden;
	opacity: 1;
}

#bg-slideshow img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}

.wrapper {
	display: block;
	width: 100%;
	padding-bottom: 10px;
	-webkit-box-shadow: 0 3px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 0 rgba(0,0,0,0.1);
	-o-box-shadow: 0 3px 0 rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 0 rgba(0,0,0,0.1);
  box-shadow: 0 3px 0 rgba(0,0,0,0.1);
}
.logo {
	background: none;
	border: none;
	box-shadow: none;
	text-align: center;
	-webkit-box-shadow: none;
}
.logo img {
	background: none;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	width: 85%;
}
.wrapper:not(:first-child) {
	margin-top: 11px;
}

.wrapper ul {
	margin: 0;
	list-style: none;
}
.wrapper ul li {
	line-height: 130%;
}
.nav {
	font-family: 'Oswald', sans-serif;
}
.category-title h2, .heading h3, h2.yellow, .title  {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	color: #8F0000;
	font-size: 129px;
	letter-spacing: 1px;
	line-height: 1em;
	margin-bottom: 0;
	text-transform: uppercase;
	margin-top: 34px;
	text-align: center;
}
.heading h3 {
	font-size: 21px;
}
.category-title h2 img {
	bottom: 5px;
	margin-left: 13px;
	position: absolute;
}
hr {
	margin: 0 15px 5px 15px;
	height: 2px;
	border: none;
	background: #FFFFFF;
}
.amount, .green, .currency {
	color: #B1D9A3;
}
.currency {
	display: none;
}
.heading, .price {
	text-align: right;
	white-space: nowrap;
}
.description {
	color: #9a8479;
	font-size: 49px;
	letter-spacing: -2px;
	text-align: center;
}

/*-------------------------------------------------------
-- Event
-------------------------------------------------------*/
h2.yellow {
	font-size: 62px;
	margin-top: 0;
}
.event .image {
	max-height: 280px;
	min-height: 100px;
}
.event img {
	max-height: 100%;
	max-width: 100%;
}
.event {
	font-family: Georgia, serif;
	font-size: 41px;
}
.event .row {
	background: url('/img/bg-border-white.gif') repeat-x;
	margin-top: 25px;
	padding-top: 25px !important;
}
.wrapper .event ul:not(.category) {
	padding-top: 25px;
}

/*-------------------------------------------------------
-- Overrides
-------------------------------------------------------*/
.red, .push, .push li, .push li h2, .push li h3 {
	color: #7E1416;
}
small {
	font-size: 75%;
}
.row-fluid {
	column-gap: 11px;
	-moz-column-gap: 11px;
	-webkit-column-gap: 11px;
}

.message {
	background: #8F0000 url('/img/staugamp/logo_staugamp.gif') no-repeat 98% 98%;
	height: 800px;
	position: absolute;
	width: 96%;
	left: 2%;
	right: 2%;
	top: 50%;
	margin-top: -400px;
	z-index: 999;
}
.message .category, .message .root {
	background: #f1e7ca;
}
.message .root {
	height: 600px;
	display: block;
}
#lean_overlay {
	opacity: 0.5;
	z-index: 100;
}

@media (min-width: 1080px) and (max-width: 1085px) {
	* {
		cursor: none;
	}
}

@media (min-width: 1920px) {
	body {
		padding-top: 10px;
	}
	.row-fluid {
		column-count: 6;
		-webkit-column-count: 6;
		column-gap: 20px;
		-webkit-column-gap: 20px;
		column-gap: ;
		min-height: 1000px;
	}
	.root, .wrapper > .row {
		display: block;
		column-break-inside: avoid;
		-webkit-column-break-inside: avoid;
	}
	.title, .processing > .row {
		column-break-inside: avoid;
		-webkit-column-break-inside: avoid;
	}
	.navbar {
		display: none;
	}
}
@media (max-width: 1919px) {
	.container-fluid, .container-fluid .row-fluid {
		padding: 10px !important;
	}
	.row-fluid {
		height: auto !important;
		width: auto !important;
	}
}
@media screen and (min-width: 1270px) and (max-width: 1919px) {
	.row-fluid {
		column-count: 2;
		-webkit-column-count: 2;
	}
	.root, .wrapper > .row {
		display: block;
		column-break-inside: avoid;
		-webkit-column-break-inside: avoid;
	}
}
@media screen and (max-width: 750px) {
	body, .description {
		font-size: 30px;
		font-weight: normal;
	}
	.category-title h2, .heading h3, h2.yellow, .title  {
		font-size: 60px;
		line-height: 20px;
	}
	.message {
		background-position: 50% 98%;
		height: 500px;
		margin-top: -250px;
	}
	.message .root {
		height: 310px;
	}
}
@media screen and (max-width: 480px) {
	body, .description {
		font-weight: normal;
	}
	.category-title h2, .heading h3, h2.yellow, .title  {
		font-size: 40px;
		line-height: 20px;
	}
}
.flip .container-fluid {
	top: 0;
	right: 0;
	position: fixed;
	width: 1080px;
	height: 1920px;
}
.flip #footer .container {
	width: 1080px;
}
body {
	margin-bottom: 16%
}
#footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 16%;
	background-color: #8F0000;
}
.flip #footer {
	right: 0px;
	width: auto;
}
.flip {
	top: 0;
	bottom: 0;
	width: 100%;
	height: 1920px;
	left: 0;
}
.flip
#bg-slideshow {
	top: 0 !important;
	right: 0;
	left: auto;
	width: auto;
	height: auto;
}
#footer {
	display: none;
}

.animated {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}
.animated.hinge {
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes bounceInDown {0% {
	opacity: 0;
	-webkit-transform: translateY(-2000px);
	transform: translateY(-2000px);
}
60% {
	opacity: 1;
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
}
80% {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}
100% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

}
@keyframes bounceInDown {0% {
	opacity: 0;
	-webkit-transform: translateY(-2000px);
	-ms-transform: translateY(-2000px);
	transform: translateY(-2000px);
}
60% {
	opacity: 1;
	-webkit-transform: translateY(30px);
	-ms-transform: translateY(30px);
	transform: translateY(30px);
}
80% {
	-webkit-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	transform: translateY(-10px);
}
100% {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

}
.bounceInDown {
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown;
}
