/*-------------------------------------------------------
-- Fonts
-------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Gochi+Hand);
@import url(http://fonts.googleapis.com/css?family=Vast+Shadow);

body {
	font-family: 'Gochi Hand', cursive;
}
.category-title h2, .heading h3, h2.yellow  {
	font-family: 'Vast Shadow', cursive;
}
.event {
	font-family: Georgia, serif;
}