/*-------------------------------------------------------
-- Fonts
-------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
@import url(http://fonts.googleapis.com/css?family=Rock+Salt);

body {
	font-family: 'Amatic SC', cursive;
}
.category-title h2, h2.yellow  {
	font-family: 'Rock Salt', cursive;
}
.heading h3 {
	font-family: 'Amatic SC', cursive;
}
.event {
	font-family: Georgia, serif;
}