/*-------------------------------------------------------
-- Fonts
-------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Medula+One);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Cabin:400italic);

body {
	font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.category-title h2, .heading h3 {
	font-family: 'Medula One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.description, small {
	font-family: 'Cabin Italic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.event {
	font-family: Georgia, serif;
}