/*-------------------------------------------------------
-- Fonts
-------------------------------------------------------*/
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/qx1LSqts-NtiKcLw4N03IGrfpCc_r9-5ZnZPBmoO4Sk.eot);
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(/fonts/qx1LSqts-NtiKcLw4N03IGrfpCc_r9-5ZnZPBmoO4Sk.eot) format('embedded-opentype'), url(/fonts/qx1LSqts-NtiKcLw4N03IFhlQWQpSCpzb2Peu3I-Q34.woff) format('woff');
}
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/Ez4zJbsGr2BgXcNUWBVgEDtNlfWXs3LXasIgqqxeZFo.eot);
  src: local('Cabin Condensed SemiBold'), local('CabinCondensed-SemiBold'), url(/fonts/Ez4zJbsGr2BgXcNUWBVgEDtNlfWXs3LXasIgqqxeZFo.eot) format('embedded-opentype'), url(/fonts/Ez4zJbsGr2BgXcNUWBVgEJwdxg8gzQNM6zG8Kbi0OAw.woff) format('woff');
}
@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/d9fijO34zQajqQvl3YHRCXZ2MAKAc2x4R1uOSeegc5U.eot);
  src: local('Cabin Sketch Regular'), local('CabinSketch-Regular'), url(/fonts/d9fijO34zQajqQvl3YHRCXZ2MAKAc2x4R1uOSeegc5U.eot) format('embedded-opentype'), url(/fonts/d9fijO34zQajqQvl3YHRCXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

body, .description, small {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.category-title h2 {
	font-family: 'Kaushan Script', cursive;
}
.title, .price, .heading h3 {
	font-family: 'Cabin Sketch', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.event {
	font-family: Georgia, serif;
}