{{#if hide}}{{{pin}}}{{/if}}
<div id="{{_id}}" class="wrapper{{#if hide}} hide{{/if}}">
	<ul class="row category">
		<li class="col-md-12">
			<div class="col-md-8 col-sm-8 col-xs-8">
				<div class="row">
					<span class="col-sm-2 col-xs-2">&nbsp;</span>
					<h3 class="col-md-10 col-sm-10 col-xs-10" style="border: none;">{{#if category}}{{{category}}}{{/if}}</h3>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4">&nbsp;</div>
			<div class="table">
				{{#if heading}}
				<dl class="heading row">
				{{#if heading}}
					<dd class="col-md-8 col-xs-8 col-sm-8 number">
			    	<dl class="row" style="border: none;">
							<dd class="col-sm-2 col-xs-2">#</dd>
							<dd class="col-md-10 col-sm-10 col-xs-10" style="border: none;">Beer</dd>
						</dl>
			    </dd>
					<!--<dd class="col-md-3 hidden-sm hidden-xs">Brewery</dd>
					<dd class="col-md-3 hidden-sm hidden-xs">Type</dd>-->
					<dd class="col-md-2 col-sm-2 col-xs-2">ABV</dd>
					<dd class="col-md-2 col-sm-2 col-xs-2 price">Price</dd>{{/if}}
				</dl>
				{{/if}}
				{{{items}}}
			</div>
		</li>
	</ul>
</div>