{{#if hide}}{{{pin}}}{{/if}}
<div id="{{_id}}" class="wrapper{{#if hide}} hide{{/if}}">
	<ul class="row category{{#if push}} push{{/if}} {{classname}}">
		{{#if category}}
	    <li class="col-xs-{{heading-offset}} category-title">
	    	<h2>{{{category}}}{{#if assets}}
					{{#each assets}}
						<img src="{{basePath}}/{{name}}" />
					{{/each}}
				{{/if}}</h2>
	    </li>
		{{/if}}
		{{#each heading}}
		<li class="col-xs-2 heading">
			<h3>{{this}}</h3>
		</li>
		{{/each}}
	</ul>
	<hr />
	{{{items}}}
</div>