<div id="{{_id}}" class="wrapper{{#if hide}} hide{{/if}} {{classname}}" screen="{{screen}}">
	<ul class="row category{{#if push}} push{{/if}}">
		{{#if category}}
	    <li class="col-xs-{{heading-offset}} category-title">
	    	<h2>{{{category}}}{{#if assets}}
					{{#each assets}}
						<img src="{{basePath}}/{{name}}" />
					{{/each}}
				{{/if}}</h2>
	    </li>
		{{/if}}
		{{#each heading}}
		<li class="col-xs-2 heading">
			<h3>{{this}}</h3>
		</li>
		{{/each}}
	</ul>
	<hr />
	{{#if description}}
	<ul class="row">
	    <li class="col-sm-push-{{indent}} col-xs-{{price-offset}} description">
	    	{{{description}}}
	    </li>
		{{#each price}}
		<li class="col-xs-2 price"><span class="currency">$</span><span class="amount">{{{this}}}</span></li>
		{{/each}}
	</ul>
	{{/if}}
	{{{items}}}
</div>