<div class="wrapper" screen="1"><!-- category -->

	<ul class="row category pizza"><!-- category title -->
		<li></li>
	</ul><!-- /category title -->
	
	<!--<span class="wc-query"> category items -->
	  <div class="wc-bg">
		<span id="" class="root">
			<ul class="row">
				<li class="col-xs-12 title center">Choose your flavor</li>
				<li><div class="flavors"></div></li>
			</ul>
			<div class="spacer"></div>
			<ul class="row">
				<li class="col-xs-12 title center">Choose your crust</li>
				<li class="col-xs-12 sub-title center">Regular Hand Tossed, Thin, or Deep Dish</li>
			</ul>
			<div class="spacer"></div>
			<ul class="row squish">
				<li class="col-xs-4 title">Pizza</li>
				<li class="col-xs-4 title black center">Price</li>
				<li class="col-xs-4 title black center">Toppings</li>
			</ul>
			<ul class="row squish">
				<li class="col-xs-4 item">
					<span>10" Small</span>
					<span>12" Medium</span>
					<span>14" Large</span>
					<span>Small Deep Dish</span>
					<span>Large Deep Dish</span>
				</li>
				<li class="col-xs-4 price center">
					<span>3.99 </span>
					<span>4.99 </span>
					<span>6.99 </span>
					<span>3.99 </span>
					<span>5.50 </span>
				</li>
				<li class="col-xs-4 price center">
					<span>1.25 </span>
					<span>1.50 </span>
					<span>1.75 </span>
					<span>1.25 </span>
					<span>1.50 </span>
				</li>
			</ul>
			<div class="spacer"></div>
			<ul class="row">
				<li class="col-xs-12 title center ">Pizza Toppings</li>
				<li class="col-xs-12 text center">
					<span>Pepperoni &bull; Ham &bull; Italian Sausage &bull; Gound Beef  &bull; Salami </span>
					<span>Meatballs &bull; Mushrooms &bull; Onions &bull; Green Peppers &bull; Tomatoes </span>
					<span>Black Olives &bull; Mild Pepper Rings &bull; Pineapple &bull; Jalapeno </span>
					<span>Anchovies &bull; Extra Cheese &bull; Try Our Three Cheese, It’s Free! </span>
				</li>
				<li class="col-xs-12 title center">Premium Toppings Extra</li>
				<li class="col-xs-12 text center">
					<span>Bacon &bull; Steak  &bull; Chicken </span>
				</li>
			</ul>
			<div class="spacer"></div>
			<ul class="row squish">
				<li class="col-xs-5 title mid">Specialty Pizzas</li>
				<li class="col-xs-2 title black center sub"><span>SM</span><small>8.99</small></li>
				<li class="col-xs-2 title black center sub"><span>MED</span><small>9.99</small></li>
				<li class="col-xs-2 title black center sub"><span>LG</span><small>11.49</small></li>
			</ul>
			<ul class="row">
				<li class="col-xs-6 text half">
					<span class="block"><strong>THE WORKS:</strong> Pepperoni, Ham, Italian Sausage, Mushrooms, Onions, Green Peppers</span>
					<span class="block"><strong>MEATEATERS:</strong> Pepperoni, Ham, Italian Sausage, Bacon, Ground Beef </span>
					<span class="block"><strong>VEGGIE:</strong> Onions, Black Olives, Mushrooms, Green Peppers, Tomatoes </span>
				</li>
				<li class="col-xs-6 text half">
					<span class="block"><strong>HOWIE MAUI:</strong> Pepperoni, Ham, Bacon, Pineapple, Mozzarella Cheese</span>
					<div class="spacer-half"></div>
					<span class="block"><strong>STICKY FINGERS:</strong> Pepperoni, Ham, Italian Sausage, Bacon, Ground Beef, Mushrooms, Onion, Green Peppers, Black Olives, and Mozzarella Cheese</span>
					<span class="bottom">Sm  11.99 &nbsp;&bull;&nbsp; Med 12.99 &nbsp;&bull;&nbsp; Lg  14.49</span>
				</li>
			</ul>
			<ul class="row"></ul>
		</span>
	  </div>
	  <div class="order"></div>
	<!--</span> /category items -->
	
</div><!-- /category -->

<div class="wrapper" screen="1"><!-- category -->

	<div class="spacer-row"></div>

	<ul class="row category"><!-- category title -->
		<li class="col-xs-12 category-title">
			<h2>Oven Baked Subs</h2>
		</li>
	</ul><!-- /category title -->
	
	<!--<span class="wc-query"> category items -->
	  <div class="wc-bg">	
		<span id="" class="root">
			<ul class="row">
				<li class="col-xs-6 text block-list">
					<span class="block"><strong>Deluxe Combination:</strong>Cheese, pepperoni, ham, italian sausage *</span>
					<span class="bottom">Large 6.99 &nbsp;&bull;&nbsp; Half  4.99</span>
					<span class="block"><strong>Ham &amp Cheese:</strong>Ham, Cheese *</span>
					<span class="bottom">Large 6.99 &nbsp;&bull;&nbsp; Half  4.99</span>
					<span class="block"><strong>Italian Sub:</strong>Pepperoni, Salami, Ham, and Cheese *</span>
					<span class="bottom">Large 6.99 &nbsp;&bull;&nbsp; Half  4.99</span>
					<span class="block"><strong>Pizza Sub:</strong> Pizza Sauce, Pepperoni, and Cheese</span>
					<span class="bottom">Large 6.99 &nbsp;&bull;&nbsp; Half  4.99</span>
					<span class="block"><strong>Veggie Sub:</strong>Mushrms, Onions, Green Peppers, Black Olives, Tomatoes, Cheese</span>
					<span class="bottom">Large 6.99 &nbsp;&bull;&nbsp; Half  4.99</span>
					<span class="block"><strong>Turkey Sub:</strong>Turkey and Cheese *</span>
					<span class="bottom">Large Only 6.99</span>
					<span class="block"><strong>Meatball Sub:</strong>Marinara Sauce, Meatballs, and Cheese</span>
					<span class="bottom">Large Only 6.99</span>
					<span class="block"><strong>Club:</strong>Turkey, Bacon, and Cheese *</span>
					<span class="bottom">Large Only 7.99</span>
				</li>
				<li class="col-xs-6 text block-list">
					<span class="block"><strong>Steak &amp; Cheese Sub:</strong>Steak, Cheese, Mushrooms, and Onions *</span>
					<span class="bottom">Large Only 7.55</span>
					<span class="block"><strong>Chicken Parmesan Sub:</strong>Chicken, Marinara, and Cheese *</span>
					<span class="bottom">Large Only 7.55</span>
					<span class="block"><strong>Buffalo Chicken Sub:</strong>Buffalo Chicken, Cheese, Lettuce, and Tomato *</span>
					<span class="bottom">Large Only 7.55</span>
					<span class="block"><strong>Chicken Cheese BLT:</strong>hicken, Bacon, Cheese, Lettuce, Tomato, Ranch on the side</span>
					<span class="bottom">Large Only 7.55</span>
					<span class="block"><strong>Pick Three Sub:</strong>Cheese, Choice of  Any Three Toppings*</span>
					<span class="bottom">Large Only 6.99 &nbsp;&bull;&nbsp; Bacon +50&cent; </span>
					<span class="italic">*Served with mild peppers and sub sauce on the side</span>
					<span class="block"><strong>Howie Roll:</strong>served with sauce</span>
					<span class="bottom no-margin">Pepperoni &amp; Cheese - 3.50</span>
					<span class="bottom">Steak or Cheese - 4.50</span>
				</li>
			</ul>
		</span>
	  </div>
	  
	  <div class="spacer-big"></div>
	  
	  <div class="wc-bg">	
		<span id="" class="root">
			<ul class="row">
				<li class="col-xs-12 title center ">Pizza Sides and Dipping Sauces</li>
			</ul>
			<ul class="row">
				<li class="col-xs-6 text">
					<p class="menu-item"><span class="item">Jalapeños or Mild Peppers</span><span class="cost">1.25</span></p>
					<p class="menu-item"><span class="item">Anchovies</span><span class="cost">1.25</span></p>
					<p class="menu-item"><span class="item">Sub Sauce (2)</span><span class="cost">30&cent;</span></p>
					<p class="menu-item"><span class="item">Ranch or Bleu Cheese Packets</span><span class="cost">25&cent;</span></p>
				</li>
				<li class="col-xs-6 text">
					<p class="menu-item"><span class="item">Ranch or Bleu Cheese Cup</span><span class="cost">59&cent;</span></p>
					<p class="menu-item"><span class="item">Marinara, Garlic, Pizza Sauce Cup</span><span class="cost">59&cent;</span></p>
					<p class="menu-item"><span class="item">Icing Cup</span><span class="cost">59&cent;</span></p>
				</li>
			</ul>
		</span>
	  </div>
	<div class="pizza-bar"></div>
	<!--</span> /category items -->
	
</div><!-- /category -->
	
<div class="wrapper" screen="2"><!-- category -->

	<ul class="row category"><!-- category title -->
		<li class="col-xs-12 category-title">
			<h2>Howie Bread &amp; Fries</h2>
		</li>
	</ul><!-- /category title -->
	
	<!--<span class="wc-query"> category items -->
	  <div class="wc-bg">	
		<span id="" class="root">
			<ul class="row">
				<li class="col-xs-6 text block-list">
					<span class="block"><strong>3-CHEEZER HOWIE BREAD:</strong>with Mozzarella, Cheddar &amp; Parmesan</span>
					<span class="bottom">Family Size 5.55 &nbsp;&bull;&nbsp; Small 3.99</span>
					<span class="block"><strong>3-CHEEZER PEPPERONI BREAD:</strong>with Pepperoni, Mozzarella Cheese, Cheddar and Parmesan</span>
					<span class="bottom">Family Size 6.55 &nbsp;&bull;&nbsp; Small 4.99</span>
					<span class="block"><strong>FLAVORED HOWIE BREAD:</strong>with </br>Your Choice of Seasoning &amp; Parmesan</span>
					<span class="bottom">Family Size 5.55 &nbsp;&bull;&nbsp; Small 3.99</span>
				</li>
				<li class="col-xs-6 text block-list">
					<span class="block"><strong>HOWIE’S FLAVORED FRIES:</strong></br>Regular, Cajun, Garlic Herb, Garlic Parm, Grilled BBQ, Sour Cream &amp; Onion, Salt &amp; Vinegar, Buffalo, Chipotle Cinnamon</span>
					<span class="bottom">Small 1.99 &nbsp;&bull;&nbsp; Large 3.99</span>
					<span class="block"><strong>CAJUN CHEESE FRIES:</strong>with Cajun Seasoning, Topped with Bacon and Mozzarella Cheese</span>
					<span class="bottom">Small 3.99 &nbsp;&bull;&nbsp; Large 5.99</span>
					<span class="block"><strong>BUFFALO SHRIMP BASKET:</strong></br>8 Shrimp Served With Fries<span class="bottom pad">- 7.99</span></span>
				</li>
			</ul>
		</span>
	  </div>
	<!--</span> /category items -->
	
	<div class="spacer-xbig"></div>
	
	<ul class="row category"><!-- category title -->
		<li class="col-xs-12 category-title">
			<h2>Howie Salads</h2>
		</li>
	</ul><!-- /category title -->
	
	<!--<span class="wc-query"> category items -->
	  <div class="wc-bg">	
		<span id="" class="root">
			<ul class="row">
				<li class="col-xs-6 text block-list">
					<span class="block"><strong>BUFFALO CHICKEN:</strong>Tomato, Onions, Cheese, and Buffalo Chicken</span>
					<span class="bottom">Large Only 6.99</span>
					<span class="block"><strong>ANTIPASTO:</strong>Salami, Ham, Tomato, Onions, Black Olives, Mild Pepper Rings, </br>and Cheese</span>
					<span class="bottom">Small 4.75 &nbsp;&bull;&nbsp; Large 6.55</span>
					<span class="block"><strong>Tossed:</strong>Tomato &amp; Onion</span>
					<span class="bottom">Small 4.75 &nbsp;&bull;&nbsp; Large 6.55</span>
				</li>
				<li class="col-xs-6 text block-list">
					<span class="block"><strong>CHICKEN CHEESE BLT:</strong>Tomato, Onion, Bacon, Cheese, and Chicken</span>
					<span class="bottom">Large Only 6.99</span>
					<span class="block"><strong>Club:</strong>Tomato, Onions, Turkey, Bacon, and Cheese</span>
					<span class="bottom">Large Only 6.99</span>
					<span class="block"><strong>Chef:</strong>Tomato, Onion, Cheese, Black Olives</span>
					<span class="bottom">Small 4.25 &nbsp;&bull;&nbsp; Large 5.99</span>
				</li>
			</ul>
		</span>
	  </div>
	<!--</span> /category items -->
	
	<div class="spacer-xbig"></div>
	
	<ul class="row category"><!-- category title -->
		<li class="col-xs-12 category-title">
			<h2>Pasta<small>served with a side of howie bread</small></h2>
		</li>
	</ul><!-- /category title -->
	
	<!--<span class="wc-query"> category items -->
	  <div class="wc-bg">	
		<span id="" class="root">
			<ul class="row">
				<li class="col-xs-6 text block-list">
					<span class="block"><strong>BAKED SPAGHETTI:</strong>Topped with marinara and cheese<span class="bottom pad">- 6.55</span></span>
					<span class="block"><strong>CHICKEN PARMESAN:</strong>With your choice of chicken and Cheese<span class="bottom pad">- 7.99</span></span>
					<span class="block"><strong>KIDS SPAGHETTI:</strong>No cheese<span class="bottom pad">- 5.55</span></span>
				</li>
				<li class="col-xs-6 text block-list">
					<span class="block"><strong>PASTA ADD ONS:</strong></span>
					<p class="menu-item"><span class="item">Meatballs</span><span class="cost">1.75</span></p>
					<p class="menu-item"><span class="item">Mushrooms or Sausage</span><span class="cost">1.50</span></p>
					<p class="menu-item"><span class="item">Extra Cheese</span><span class="cost">1.50</span></p>
					<p class="menu-item"><span class="item">Extra Sauce</span><span class="cost">59&cent;</span></p>
				</li>
			</ul>
		</span>
	  </div>
	<!--</span> /category items -->
</div><!-- /category -->

<div class="wrapper" screen="2"><!-- category -->
  <div class="bg-red"></div>
  
	<div class="spacer-row"></div>

	<ul class="row category inverted"><!-- category title -->
		<li class="col-xs-12 category-title invert">
			<h2>Howie Wings</h2>
		</li>
	</ul><!-- /category title -->
	
	<!--<span class="wc-query"> category items -->
	  <div class="wc-bg-red">	
		<span id="" class="root">
			<ul class="row">
				<li class="col-xs-12 title center yellow">Choose your flavor!</li>
				<li class="col-xs-12 text block-list white">
					<span class="block"><strong>BUFFALO STYLE:</strong>Mild, Medium, Howie Hot, Extreme C4, Garlic Parmesan, and Spicy Ranch</span>
					<span class="block"><strong>SIGNATURE SAUCES:</strong>Sweet BBQ, Grilled BBQ, Sesame Garlic Teriyaki, Teriyaki Asian Zing, Honey Mustard, and Blazing Bleu Cheese</span>
					<span class="block"><strong>SPECIAL SEASONINGS:</strong>Original, Hot &amp; Spicy Cajun, and Old Bay</span>
				</li>
			</ul>
			<div class="spacer-red"></div>
			<ul class="row">
				<li class="col-xs-12 title center yellow">Choose your chicken!</li>
				<li class="col-xs-6 text block-list white">
					<span class="block"><strong>TRADITIONAL WINGS:</strong>Jumbo fresh hand cut wings made to order, served with your choice of ranch or bleu cheese</span>
					<span class="bottom no-margin white">8 for 7.99 &nbsp;&bull;&nbsp; 10 for 9.99</span>
					<span class="bottom white">16 for 13.99 &nbsp;&bull;&nbsp; 24 for 21.99</span>
					<span class="block"><strong>BONELESS WINGS:</strong>Jumbo fresh hand cut all white meat, made to order and tossed in sauce, with your choice of ranch or bleu cheese</span>
					<span class="bottom no-margin white">8 for 6.99 &nbsp;&bull;&nbsp; 10 for 8.99</span>
					<span class="bottom white">16 for 11.99 &nbsp;&bull;&nbsp; 24 for 17.99</span>
				</li>
				<li class="col-xs-6 text block-list white">
					<span class="block"><strong>JUMBO TENDERS:</strong>Jumbo fresh hand cut all white meat tenderloins made to order and served with your choice of any wing sauce</span>
					<span class="bottom no-margin white">3 for 3.99 &nbsp;&bull;&nbsp; 6 for 6.99</span>
					<span class="bottom white">9 for 9.99 &nbsp;&bull;&nbsp; 12 for 14.99</span>
					<span class="block"><strong>Chicken Add-Ons:</strong></span>
					<p class="menu-item"><span class="item">Ranch or Bleu Cheese Cups</span><span class="cost">59&cent;</span></p>
					<p class="menu-item"><span class="item">Side of Cajun Bread</span><span class="cost">99&cent;</span></p>
					<p class="menu-item"><span class="item">Extra Wing Sauce</span><span class="cost">1.00</span></p>
				</li>
			</ul>
	</div>
	<div class="spacer-fat"></div>
			<ul class="row long">
				<li class="col-xs-6 tight">
				  <div class="wc-bg-sm">
					<ul class="row">
						<li class="col-xs-12 title center">Desserts</li>
						<div class="spacer-small"></div>
						<li class="col-xs-12 text block-list">
							<span class="block"><strong>CINN-MMM BREAD:</strong>Howie’s own hot buttered breadsticks, sprinkled with cinnamon &amp; sugar, served with icing</span>
							<span class="bottom">Large Only - 3.99</span>
							<span class="block"><strong>DESSERT PIZZA:</strong>A sweet treat freshly made to order. Choose from apple or chocolate topped with powdered sugar</span>
							<span class="bottom">10&quot; Size Only - 4.99</span>
						</li>
					</ul>
				  </div>
				  <div class="special">2 for 1 Bottle Beer All Day Every Day!</div>
				</li>
				<li class="col-xs-6 tight">
				  <div class="wc-bg-sm">
					<ul class="row">
						<li class="col-xs-12 title center">Beverages</li>
						<div class="spacer-small"></div>
						<li class="col-xs-12 text block-list">
							<span class="block center">Choose from our variety of Pepsi products or Bottled Spring Water</span>
							<span class="bottom no-margin center">Dine-In 16oz - 1.75 &nbsp;&bull;&nbsp; Kids' Drink - 1.15</span>
							<span class="bottom no-margin center">22oz Drink - 1.95 &nbsp;&bull;&nbsp; 32oz Drink - 2.15</span>
							<span class="bottom center">44oz - 2.35 &nbsp;&bull;&nbsp; 2-Liter (carry out) - 2.55</span>
						</li>
					</ul>
					</div>
					<div class="bottles"></div>
				</li>
			</ul>
		</span>
	<!--</span> /category items -->
</div><!-- /category -->

<div class="wrapper" screen="2"><!-- category -->
	<div class="slideshow"></div>
	<div class="slideshow-text"><span>2 for 1</br>WINGS</span><small>Every day</br>3-5pm</small></div>
	
	<div class="featured">
		<span class="f-top">Monday</span>
		<span class="f-mid">$11.99</br>Howie</br>Combo</span>
		<span class="f-bottom">Large 1-Topping Pizza</br>Howie Bread &amp; 2-Liter</span>
	</div>
</div><!-- /category -->