<div id="happy" class="slide">
	<div class="content">
		<img class="extra-happy-1" src="/img/wingdepot/extra-happy-1.png"/>
		<img class="logo-happy" src="/img/wingdepot/logo-happy.png"/>
		<div class="happy-time">{{{time}}}</div>
		<div class="prices-container">
			{{#if price1}}<span class="prices-happy-1">{{{price1}}}</br></span>{{/if}}
			{{#if price2}}<span class="prices-happy-2">{{{price2}}}</br></span>{{/if}}
			{{#if price3}}<span class="prices-happy-3">{{{price3}}}</br></span>{{/if}}
		</div>
		<div class="text-container">
			{{#if item1}}<span class="text-happy-1">{{{item1}}}</br></span>{{/if}}
			{{#if item2}}<span class="text-happy-2">{{{item2}}}</br></span>{{/if}}
			{{#if item3}}<span class="text-happy-3">{{{item3}}}</br></span>{{/if}}
		</div>
		<div class="happy-img-container">
			{{#if item1}}<img class="extra-happy-2" src="/img/wingdepot/extra-happy-2.png"/>{{/if}}
			{{#if item2}}<img class="extra-happy-3" src="/img/wingdepot/extra-happy-3.png"/>{{/if}}
			{{#if item3}}<img class="extra-happy-4" src="/img/wingdepot/extra-happy-4.png"/>{{/if}}
		</div>
	</div>
	<div class="footer"><img src="/img/wingdepot/foot-star.png"/></div>
	<div class="bg"><img src="/img/wingdepot/bg-happy.jpg"/></div>
</div>