<div id="241" class="slide">
	<div class="content">
		<img class="logo-241" src="/img/wingdepot/logo-241.png"/>
		<div class="container-left">
			<div class="container-text">
				{{#if specialright}}{{{specialleft}}}{{/if}}
			</div>
			<img class="extra-241-1" src="/img/wingdepot/extra-241-1.png"/>
			<img class="extra-241-3" src="/img/wingdepot/extra-241-3.png"/>
			<img class="extra-241-5" src="/img/wingdepot/extra-241-5.png"/>
		</div>
		<div class="container-right">
			<div class="container-text">
				{{#if specialright}}{{{specialright}}}{{/if}}
			</div>
			<img class="extra-241-2" src="/img/wingdepot/extra-241-2.png"/>
			<img class="extra-241-4" src="/img/wingdepot/extra-241-4.png"/>
		</div>
	</div>
	<div class="footer"><img src="/img/wingdepot/foot-wood.png"/></div>
	<div class="bg"><img src="/img/wingdepot/bg-241.jpg"/></div>
</div>