<div id="specials" class="slide">
	<div class="content">
		<img class="logo-specials" src="/img/wingdepot/logo-specials.png"/>
		<div class="specials-container">
			{{#if special1}}<span class="header-specials">{{{special1}}}</span>{{/if}}
			{{#if description1}}}<span class="text-specials">{{{description1}}}</br></span>{{/if}}
			{{#if special2}}<div class="spacer"></div>
			<span class="header-specials">{{{special2}}}</span>{{/if}}
			{{#if description2}}<span class="text-specials">{{{description2}}}</br></span>{{/if}}		</div>
	</div>
	<div class="footer"><img src="/img/wingdepot/foot-velvet.png"/></div>
	<div class="bg"><img src="/img/wingdepot/bg-specials.jpg"/></div>
</div>